* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  font-family: "Nunito", sans-serif;
}
#main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
header {
  box-shadow: rgba(60, 64, 67, 0.1) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.1) 0px 1px 3px 1px;
}
nav {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.nav-right {
  display: flex;
  gap: 60px;
  align-items: center;
}

.nav-right h1 {
  color: #3f3a64;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 30px;
}
.nav-right span {
  color: #ff8763;
}

.nav-right ul {
  display: flex;

  gap: 15px;
  list-style: none;
}

.nav-right ul a {
  font-size: 18px;
  color: #666666;
  font-weight: 600;
  width: 12px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.nav-right ul a:hover {
  color: #ff8763;
}

nav i {
  font-size: 20px;
  color: #666666;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
nav i:hover {
  font-size: 25px;
  color: #ff8763;
}
#hero_wraper {
  height: 85vh;
}

#hero_container {
  padding-top: 50px;
  display: grid;
  gap: 25px;
  color: white;
  grid-template-columns: 68% 30%;
  grid-template-rows: 75vh;
  margin-bottom: 50px;
}

.left_dev {
  color: #eeeded;
  background-image: url(/img/1.jpg);
  background-position: center;
  background-size: contain;
  position: relative;
  border-radius: 15px;
}
.left_dev button {
  background: #ebc272;
  margin-bottom: 10px;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 12px;
  border-radius: 20px;
}

.left_dev h1 {
  font-size: 35px;
  font-weight: 800;
}

.hover_div > p {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 700;
  width: 90%;
}

.hover_div {
  position: absolute;
  left: 40px;
  transition: all 0.3s ease-out;
  bottom: 20px;
}

#hover_buttom {
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.right_dev1 {
  background-image: url(/img/2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 35vh;
  color: rgb(0, 0, 0);
  width: 100%;
  border-radius: 15px;
  padding: 80px 20px 20px 40px;
}

.right_dev2 {
  background: #52bb02;
  margin-top: 30px;
  background-image: url(/img/3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 35vh;
  color: rgb(0, 0, 0);
  width: 100%;
  border-radius: 15px;
  padding: 70px 5px 5px 30px;
}

.right_dev1 h1 {
  font-size: 24px;
  font-weight: 800;
}
.right_dev2 h1 {
  font-size: 24px;
  font-weight: 800;
}

#advertisement_seticon {
  margin: 80px 0;
  display: flex;
  justify-content: center;
}
#advertisement_seticon h4 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 10px;
}

#advertisement_seticon img {
  border-radius: 10px;
}

#recipes_secion {
  margin: 100px 0;
  padding-bottom: 100px;
}

#recipes_secion h2 {
  margin-bottom: 20px;
}

#card_main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.card_hover {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  position: absolute;
  left: 25px;
  top: 190px;
}
.card_hover p {
  color: white;
  font-weight: 500;
}

.card_hover button {
  background: #0abf53;
  color: white;
  border: none;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 18px;
  border-radius: 20px;
}

.card_hover #how_to {
  background: #ff8763;
}
.card_hover #drink {
  background: #7f87de;
}

.card1 {
  width: 31.5%;
  position: relative;
}
.card1 h1 {
  font-size: 22px;
  padding: 10px 0px;
  transition: all 0.3s ease-in-out;
}
.card1 > p {
  color: #a1a1a1;
  font-size: 18px;
  padding-bottom: 5px;
}

.card1 h1:hover {
  color: #cd816b;
  cursor: pointer;
  font-weight: 700;
}
.card1 > img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.card1_buttom_top {
  display: flex;
  gap: 10px;
  align-items: center;
}

#card1_buttom {
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: space-between;
  width: 100%;
}
#card1_buttom p {
  transition: all 0.3s ease-in-out;
}
#card1_buttom p:hover {
  color: #f1886a;
  cursor: pointer;
}
