@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}
.profile_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  border-radius: 24px;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #e92716;
  padding: 3px;
  margin-bottom: 10px;
}

.image .profile_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  border: 3px solid #fff;
}

.profile_card .text_data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_data .name {
  font-size: 22px;
  font-weight: 500;
}
.text_data .job {
  font-size: 15px;
  font-weight: 400;
}
.profile_card .media_buttons {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.media_buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  background-color: #e92716;
  margin: 0 8px;
  text-decoration: none;
}

.profile_card .buttons {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 25px;
}

.buttons .button {
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  border-radius: 24px;
  padding: 8px 24px;
  background-color: #e92716;
  transition: all 0.3s ease;
}

.buttons .button:hover {
  background-color: #cb1e0e;
}
