@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #1abc9c;
}

.wrapper {
  max-width: 440px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin: 0px 10px;
}

.wrapper .title {
  background-color: #16a085;
  line-height: 80px;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.wrapper form {
  padding: 30px 20px 25px 20px;
}

.wrapper form .row {
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper form .row input {
  height: 100%;
  width: 100%;
  padding-left: 60px;
  outline: none;
  font-size: 16px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

form .row input:focus {
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}

.wrapper form .row i {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 100%;
  color: #fff;
  border-radius: 5px 0 0 5px;
  background-color: #16a085;
  font-size: 20px;
}

.wrapper form .button input {
  padding-left: 0px;
  border-radius: 5px;
  background-color: #16a085;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
form .button input:hover {
  background-color: #0a826a;
}
.wrapper form .pass {
  margin-bottom: 12px;
  font-size: 17px;
}
.wrapper form .pass a {
  text-decoration: none;
  color: #01a383;
}
.wrapper form .pass a:hover {
  text-decoration: underline;
}

.wrapper form .signpu-link {
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
}
.wrapper form .signpu-link a {
  text-decoration: none;
  color: #01a383;
}
.wrapper form .signpu-link a:hover {
  text-decoration: underline;
}
